* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  height: 150px;
}

.test {
  height: 200px;
  background-color: #000000;
}

.social-icon i {
  font-size: 25px;
  color: #121212;
}

.social-icon i:hover {
  font-size: 25px;
  color: #767676;
}

.nav-items div {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #121212;
}

.menu-button {
  font-size: 30px;
  color: #121212;
}

.subcription-background {
  background-color: #000000;
}

.suscription p {
  color: #fff;
}

.suscription .sub-sign {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.section-heading {
  /* To show the lines on right 
  and left sides of the text */
  /* Space on left and right sides of text */
}

.section-heading .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3em;
}

.section-heading .divider::after,
.section-heading .divider::before {
  content: '';
  border-bottom: 1px solid black;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-heading .divider:not(:empty)::before {
  margin-right: 0.25em;
}

.section-heading .divider:not(:empty)::after {
  margin-left: 0.25em;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #f31a0a;
  color: white;
  border-radius: 100%;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.recipe-name {
  color: #121212;
  font-family: "Open Sans", sans-serif;
}

.show-me-link {
  font-family: "Roboto", sans-serif;
  color: #d5726c;
}

.weekly-recipe-image {
  background: url("../img/recipe-of-the-week.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.week-pick {
  font-family: "Open Sans", sans-serif;
  color: #121212;
}

.week-Cinnamon {
  font-family: "Roboto", sans-serif;
  color: #121212;
}

.week-para {
  font-family: "Open Sans", sans-serif;
  color: #121212;
}

.button-week-custom {
  border: 2px solid #121212;
  color: #121212;
  font-family: "Roboto", sans-serif;
}

.button-week-custom:hover {
  border: none;
  color: #121212;
  background-color: #ffded6;
}

.button-week-custom:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.line {
  height: 1px;
  background-color: #121212;
}

.popular-text {
  font-family: "Roboto", sans-serif;
  color: #121212;
}

.popular-number {
  font-family: "Roboto", sans-serif;
  color: #121212;
}

.popular-recipe-background {
  background-color: #fff;
  -webkit-transition: background-color ease 1s;
  transition: background-color ease 1s;
}

.popular-recipe-background:hover {
  background-color: #003811;
  color: #fff;
}

.popular-recipe-background:hover .popular-text {
  color: #fff;
}

.popular-recipe-background:hover .popular-number {
  color: #fff;
}

.recipe-key-value {
  font-family: "Open Sans", sans-serif;
}

.quick-meal-button {
  border: 2px solid black;
  color: #121212;
  font-family: "Roboto", sans-serif;
}

.quick-meal-button:hover {
  border: 2px solid black;
  background-color: black;
}

.explore-one-button {
  border: 1px solid #d56638;
  font-family: "Open Sans", sans-serif;
  color: #d56638;
}

.explore-one-button:hover {
  background-color: #d56638;
  border: 1px solid #d56638;
}

.explore-one-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #d56638;
}

.explore-two-button {
  border: 1px solid #003811;
  font-family: "Open Sans", sans-serif;
  color: #003811;
}

.explore-two-button:hover {
  background-color: #003811;
  border: 1px solid #003811;
}

.explore-two-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #003811;
}

.explore-three-button {
  border: 1px solid #f74639;
  font-family: "Open Sans", sans-serif;
  color: #f74639;
}

.explore-three-button:hover {
  background-color: #f74639;
  border: 1px solid #f74639;
}

.explore-three-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #f74639;
}

.explore-four-button {
  border: 1px solid #c64815;
  font-family: "Open Sans", sans-serif;
  color: #c64815;
}

.explore-four-button:hover {
  background-color: #c64815;
  border: 1px solid #c64815;
}

.explore-four-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #c64815;
}

.shop-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/shop-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/shop-bg.jpg");
  background-color: blacks;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop h2 {
  color: #121212;
  font-family: "Roboto", sans-serif;
}

.shop p {
  color: #121212;
  font-family: "Open Sans", sans-serif;
}

.BooK-wraper {
  background-color: #fbf8f3;
}

.book-wraper-right-bg {
  background-color: #fdddd4;
}

.book-button {
  border: 1px solid black;
  color: black;
}

.book-button:hover {
  border: 1px solid #fdddd4;
  background-color: #ffb5a3;
}

.book-button:focus {
  border: none;
  background-color: #ffb5a3;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.book-wraper-text {
  color: #121212;
}

.book-wraper-text h3 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3rem;
}

.book-wraper-text h6 {
  font-family: "Roboto", sans-serif;
}

.book-wraper-text p {
  font-family: "Open Sans", sans-serif;
}

.social-media-flower {
  color: #121212;
}

.social-media-flower h6 {
  font-family: "Roboto", sans-serif;
}

.social-media-flower h2 {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=index.css.map */